@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Somewhere in Toronto<br />
    Toronto, ON<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@doesnotexist.com">Support@doesnotexist.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@doesnotexist.com">Marketing@doesnotexist.com</a>
</address>