@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomeTitle"];
}

<div class="jumbotron">
    <h1>HomeHub</h1>
    <p class="lead">@Localizer["WelcomeMessage"]</p>
</div>
